<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Horizontal - Mazer Admin Dashboard</title>
    <link rel="shortcut icon" href="./assets/compiled/svg/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="./assets/compiled/css/app.css">
    <link rel="stylesheet" href="./assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="./assets/compiled/css/iconly.css">
</head>
<body>
    <script src="assets/static/js/initTheme.js"></script>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-5">
                <div class="header-top">
                    <div class="container">
                        <div class="logo">
                            <a href="index.html">
                                <img src="./assets/compiled/svg/logo.svg" alt="Logo">
                            </a>
                        </div>
                        <div class="header-top-right">
                            <div class="dropdown">
                                <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="topbarUserDropdown">
                                    <li><a class="dropdown-item" href="#">My Account</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="auth-login.html">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Burger button responsive -->
                            <a href="#" class="burger-btn d-block d-xl-none">
                                <i class="bi bi-justify fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-stack"></i> Components</span>
                                </a>
                            </li>
                            <li class="menu-item active">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-grid-1x2-fill"></i> Layouts</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-file-earmark-medical-fill"></i> Forms</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-table"></i> Table</span>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-plus-square-fill"></i> Extras</span>
                                </a>
                            </li>
                            <li class="menu-item has-sub">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-file-earmark-fill"></i> Pages</span>
                                </a>
                                <div class="submenu">
                                    <div class="submenu-group-wrapper">
                                        <ul class="submenu-group">
                                            <li class="submenu-item has-sub">
                                                <a href="#" class="submenu-link">Authentication</a>
                                                <ul class="subsubmenu">
                                                    <li class="subsubmenu-item">
                                                        <a href="auth-login.html" class="subsubmenu-link">Login</a>
                                                    </li>
                                                    <li class="subsubmenu-item">
                                                        <a href="auth-register.html" class="subsubmenu-link">Register</a>
                                                    </li>
                                                    <li class="subsubmenu-item">
                                                        <a href="auth-forgot-password.html" class="subsubmenu-link">Forgot Password</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="submenu-item">
                                                <a href="ui-file-uploader.html" class="submenu-link">File Uploader</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item has-sub">
                                <a href="#" class="menu-link">
                                    <span><i class="bi bi-life-preserver"></i> Support</span>
                                </a>
                                <div class="submenu">
                                    <div class="submenu-group-wrapper">
                                        <ul class="submenu-group">
                                            <li class="submenu-item">
                                                <a href="https://zuramai.github.io/mazer/docs" class="submenu-link">Documentation</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="content-wrapper container">
                <!-- Content goes here -->
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="assets/static/js/components/dark.js"></script>
    <script src="assets/static/js/pages/horizontal-layout.js"></script>
    <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/compiled/js/app.js"></script>
    <script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="assets/static/js/pages/dashboard.js"></script>
</body>
</html>