<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Horizontal - Mazer Admin Dashboard</title>
  <link rel="stylesheet" href="./assets/compiled/css/app.css">
  <link rel="stylesheet" href="./assets/compiled/css/app-dark.css">
  <link rel="stylesheet" href="./assets/compiled/css/iconly.css">
</head>
<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-5">
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li
                                class="menu-item  ">
                                <a href="index.html" class='menu-link'>
                                    <span><i class="bi bi-grid-fill"></i> Home</span>
                                </a>
                            </li>
                            <li
                                class="menu-item  ">
                                <a href="index.html" class='menu-link'>
                                    <span><i class="bi bi-grid-fill"></i> Data UMKM</span>
                                </a>
                            </li>
                            <li
                                class="menu-item  ">
                                <a href="index.html" class='menu-link'>
                                    <span><i class="bi bi-grid-fill"></i> Kontak</span>
                                </a>
                            </li>
                            <li
                                class="menu-item  ">
                                <a href="index.html" class='menu-link'>
                                    <span><i class="bi bi-grid-fill"></i> Masuk</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
    <script src="assets/static/js/components/dark.js"></script>
    <script src="assets/static/js/pages/horizontal-layout.js"></script>
    <script src="assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/compiled/js/app.js"></script>
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/static/js/pages/dashboard.js"></script>
</body>
</html>